

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none
}
.navbar {
    z-index: 100; /* Ensure navbar is on top */
  }
  
  .menu {
    z-index: 200; /* Ensure menu is on top of everything */
  }
.offcanvas.offcanvas-end{
    width: 650px;
}

.offcanvas-nav{
    transition: 0.7s ease-in-out;
    position:fixed;
}

.off-nav-cont{
    margin-top: 100px;
    padding: 0 20px;
    width: 450px;
    height: 500px;
    /* background-color: red; */
}

.right-off-nav{
    height: 200px;
}

.right-off-nav button{
    margin-bottom: 10px;
    color: black;
    font-size:40px;
    transition: 0.5s ease;
    /* background-color: red; */
}

.btn-2, .btn-3{
    width: 80%;
}

.right-off-nav span{
    margin: 0 0 10px 0;
    padding: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.665);;
    height: 20px;
    width: 100px;
}

.right-off-nav button:hover{
    transform: translate(10px);
}

.left-off-nav{
    height: 200px;
}


.left-off-nav span{
    margin: 0 0 20px 0;
    padding: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.665);
    height: 20px;
    width: 100px;
}

.left-off-nav a{
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    font-size:20px;
    transition: 0.5s ease;
}

.left-off-nav a:hover{
    text-decoration: underline;
}

.footer{
    margin-top: 160px;
    margin-left: 30px;
}

.footer span{
    width: 100px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.669);
    margin-left: 10%;
}

.footer a{
    margin-left: 10%;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.footer a:hover{
    text-decoration: underline;
}