.project-bg{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.project-bg h2{
    font-family: 'khula', sans-serif;
    font-style: normal;
    margin-bottom: 60px;
    font-size: 25px;
}

.proj69{
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
    max-width: 1000px;
    height: 200px;
    margin-bottom: 0;
}

.project{
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease;
}

.project-name{
    display: flex;
    justify-content: center;

}

.project-name h1{
    font-weight: 400;
    font-size: 60px;
    font-family: 'khula', sans-serif;
    
}

.nump{
    font-size: 25px;
    color: gray;
    font-weight: 200;
    margin-right: 15px;
    margin-top: 5px;

}

.descp{
    margin-top: 20px;
    font-size: 18px;
    color: grey;
    font-weight: 300;
}

hr{
    margin-top: 50px;
    width: 1000px;
}

.project:hover{
    padding: 0 10px 0 10px;
    color: rgba(0, 0, 0, 0.444);
}